<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="stylesheets/styles.css" />
    <title>Auth JWT</title>
  </head>
  <body>
    <%- include('../navbar') -%>
    <div class="flex justify-center container mx-auto p-4">

