<%- include('partials/header'); -%> 

<div class="flex justify-center flex-col">
  <h2 class="text-5xl">Image Card Grid</h2>

  <a
    href="/cards"
    class="w-32 text-center border border-blue-500 rounded py-2 px-4 mx-auto mt-6 bg-blue-500 hover:bg-blue-700 text-white"
    >View Cards</a
  >
</div>

<%- include('partials/footer'); -%>
